<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecordatorMunerum"
        tools:targetApi="33">

        <!-- ACTIVIDAD PRINCIPAL -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ACTIVIDAD DE EDICIÓN -->
        <activity
            android:name=".ui.EditRegistratioActivity"
            android:exported="false" />

        <!-- SERVICE DEL WIDGET -->
        <service
            android:name=".widget.RegistratioWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <!-- PROVIDER DEL WIDGET -->
        <receiver
            android:name=".widget.RegistratioWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/registratio_widget_info" />
        </receiver>

        <!-- RECEIVER DE ACCIONES DEL WIDGET -->
        <receiver
            android:name=".widget.RegistratioWidgetReceiver"
            android:exported="false" />

        <!-- RECEIVER DE ALARMAS -->
        <receiver
            android:name=".alarm.RegistratioAlarmReceiver"
            android:exported="false" />

        <!-- BOOT RECEIVER -->
        <receiver
            android:name=".alarm.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- MONITIONES RECEIVER -->
        <receiver
            android:name=".notification.MonitionesReceiver"
            android:exported="false" />

    </application>

</manifest>
